header {
  background-color: 00FF99;
}

.flex-nav-element {
  color:blue;
}

footer {
  background-color: 00FF99;
}

.flex-footer-element {
  font-size: 30px;
  color: #00FF00;
}

body {
  color :#00FF00;
  font-size: 20pt;
  background-color: FFFFCC;
  overflow-y:scroll;
}

h2 {
  font-size: 40px;
  color:rgb(22, 155, 22);
}


H1 {
font-size :40pt;
color :#32CD32;
text-align: center;
}
#img {
  float:left;  
  width:100px;; 
  height:100px; 
}
#name {
  color: #00FF00; 
  font-size: 40px;
}

@media all and (orientation: landscape), (min-width: 700px) {
 header{
    height:120px;
  }
  
  footer{
    height:120px;
  }
  
  .flex-footer-element{
    font-size: 30px;
  }
  .error {
    border: 2px solid red;
  }
}
